<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>123{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div id="homework-container">
    {{> "./towns-content.hbs"}}
</div>
</body>
</html>
